<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
            <div class="one fields">
                {{ form_row(form.action) }}
            </div>
            <div class="one fields">
                {{ form_row(form.name) }}
            </div>
            {{ form_row(form._token) }}
        </div>
    </div>
</div>
