<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
            <div class="one fields">
                {% if form.vars.value.locked == true %}
                    {{ form_row(form.name, {'attr':{'readonly':true, 'style':'opacity: 0.45; pointer-events:none;'}}) }}
                {% else %}
                    {{ form_row(form.name) }}
                {% endif %}
                {{ form_row(form.locked) }}
            </div>
            <div class="one fields">
                {{ form_row(form.permissions) }}
            </div>
            {{ form_row(form._token) }}
        </div>
    </div>
</div>
